body {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 10vw auto 10vw;
	grid-gap: 1em;
	font-family: 'Bubblegum Sans', cursive;
}

header {
	font-size: 2em;
	justify-self: center;

}
  
  header,
  footer {
	grid-column: 1 / span 5;
	border: solid 2px black;
  }
  
  main {
	grid-column: 1 / span 3;
	border: solid 2px red;
	justify-self: center;
  }
  
  aside {
	grid-column: span 2;
	border: solid 2px black;
  }
  
  @media (max-width: 700px) {
	
	main,
	aside {
	  grid-column: 1 / span 5;
	  border: solid 2px black;
	}
	
  }

  .gameDiv {
	padding: 20px;
  }

  .gameStats {
	  border: solid 2px green;
	  margin: 20px 40px 20px 40px;
	  padding: 20px;
  }

  .wrapper {
	  display: flex;
	  flex-wrap: wrap;
  }